{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 80,
  "trailingComma": "all",
  "endOfLine": "lf",
  "arrowParens": "always",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(react-router-dom/(.*)$)|^(react-router-dom$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/graphql/(.*)$",
    "^@/lib/(.*)$",
    "^@/hooks/(.*)$",
    "^@/components/ui/(.*)$",
    "^@/components/(.*)$",
    "^@/features/(.*)$",
    "",
    "^[./]"
  ]
}